@import 'reset';

// Generall things:

$background: rgb(34, 32, 54);
$font1: 'Courier New', Courier;
$font2: 'Playfair Display';

html {
  font-size: 81.3%;
}

.body {
  background-color: $background;
  background-image: url("./609a50ec.png");
  color: rgb(218, 218, 218);
  font-family: $font1, monospace;
}

  ::selection {
    background-color: white;
    color: black;
  }

.break {
      overflow: visible;
      padding-top: -5em;
      border: none;
      border-top: medium double #333;
      text-align: center;

      &__title {
      color: rgba(236, 236, 236, 0.377);
      font-size: 2rem;
      padding: 0 0.25rem;
      top: -0.7rem;
      font-size: 1.5rem;
      position: relative;
      background: darken($background, 5%);  
      }
}

.h3 {
    color: rgb(197, 197, 197);
  }


// Loader is here:
.loader {
    background-color: rgb(51, 45, 45);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2010;
    top: 0;

    &__figure{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;      
      border: 16px solid #dddddd;
      border-top: 16px solid #dddddd;  
      width: 120px;
      height: 120px;
      animation: spin 3s linear infinite;
      margin: auto;
    }

    &__info {
      position: absolute;

    }
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// Navigation bar is here: 


// Aside content is here: 
.opening-icon {
    margin-top: 4rem;
    z-index: 100;
    position: fixed;
    cursor: pointer;      
    transition: all 0.2s;

    &:hover {
      transform: scale(1.5);
    }
}

.aside {
    position: fixed;
    cursor: pointer;
    z-index: 2000;
    transform: translateX(0%);
    padding: 0;
    margin: 0;
    z-index: 2001;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAYAAADkmO9VAAACXElEQVQ4T22Uy27dRgyGP87oOHHgs+i6dTZFXyKL3Bd9hqz7CFl13TcN2thpHJ+bJEszJAOOjo+bpAQEDATxm5/8Scnvf/7l5+tHdNko44Fhs2V/u2fYDnz58JHbD/9gc0UEzBwtE1oGQCB1iAiuBS094MizP9776hFkKejUc7fbsLvZsbm6ZXv1mTrNpJRJ4i2hlok6HXB3JHUL2CtWp3aU316/85Qr6AClZ/xyze5mw9g7ZrRIIUYUwVGdKdOAaQXJTbm7QTwI8tOvbxyfsLLHpx12d4vWQuUJLjm+RrySKE2lWaGWGdXjbcudxxDk4ufnbnXAygF0JOkOtxmTJ5hnHMN1QmykS5FnDVbq/wFBLn554VZHrAx4HRDdtWTSOTWA7g1IPdBlTubUali09buQi8uX7vWuAQPsZUuyHsmPMTrUAjjjZU+XnRQNdahqVP2RKOvLV246NViDzltE9+TuDJczVB3TufU4i9F1KcxsF0XZ/h1T1pevPRQ0YB3ReYPPG7ouN5WqNGet9CSUVQDTYmoAA/yNLQ1oBYuyAzht0OmGnKBbnWMu1LIMrhyBOS9lN5XF4vjg8/rpmxMwehnAOv7bhnV1dk7IqTWAI+JLyV0nMXFtc+Yw5z8qZQEqrqHwCBw+4Tq2PuacUa1NZcjKSThbpWXlPProzaDTJAYwGnJvjE5ban+N1b4l5Zxa4v0gh8mrVW7giCh7LnoyR9ZP356AoVKnHaX/uAx6LNOS95AQwCg7h8rlhzGXB3OOwBiNu6Xs0jMf/sbm/Y9Te3zT5Sj7fo8Xt+835yudPu0ZZqv+7gAAAABJRU5ErkJggg==");
}






.menu {
  cursor: initial;
  top: 0;
  height: 100vh;
  margin: auto;

  &__close {
      cursor: pointer;
      right: 0;
      top: 0;
      position: absolute;
      color: rgb(241, 82, 82);
      font-size: 3em;
      display: none;
      z-index: 2000;
  }
  &__list {
    color: rgba(255, 255, 255, 0.753);
    
  }
  &__item {
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(65, 4, 4, 0.582);
    text-shadow: black 2px 2px;
    max-width: 200px;
    -webkit-clip-path: polygon(0 100%, 89% 100%, 100% 0, 11% 0);
    clip-path: polygon(0 100%, 89% 100%, 100% 0, 11% 0);

  }

  &__image  {
    filter: grayscale(100%) contrast(2) brightness(60%);
    transition: all 0.5s;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    height: 30px;

    &:hover {
      filter: none;

    }

    @media(min-width: 576px){
    }

    @media(min-width: 703px){
      height: 70px;

    }

    @media (min-width: 760px){
      height: 90px;

    }


  }
}

// Information section is here:

  .main {

      &__header {
      display: block;
      box-sizing: border-box;
      padding-bottom: 10px;

      @media(min-width: 576px) {
        top: 0;
        display: flex;
      }
    }
  }

.information {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.487);
    padding-bottom: 10px;
    border-radius: 5px;
    color: black;

    @media(min-width: 576px) {
      margin-top: 10vh;
      width: 100%;
    }

    &__charname {
    font-family: $font2;
    font-size: 3rem;
    }
    &__dates {
      font-size: 1.2rem;
      margin-top: 10px;
    }
    &__mbti {
    // Defines MBTI personality 
      position: relative;
      display: inline-block;
      cursor: help;
      font-size: 2rem;

      &:hover .mbti-text {
        display: inline-block;
        font-size: 11px;

      }
    }
    .mbti-text {
      display: none;
      width: 30vw;
      background-color: rgba(0, 0, 0, 0.678);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: -5px;
    }



    &__quotation { 
    // Defines a random quote
    padding: 5vh 3vw;
    color: black;
    box-sizing: border-box;
    
      &::selection {
        background-color: black;
        color: white;
      }

    }
  }


.aie-progress {

    &__bar {
      margin: 12px 0;
      border: 1px rgba(0, 0, 0, 0.678) solid;
      

      &--sanguine {background: linear-gradient(to right, rgb(155, 12, 79), tomato)}
      &--choleric {background: linear-gradient(to right, rgb(32, 212, 8), rgb(255, 218, 96));}
      &--flegmatic {background: linear-gradient(to right, rgb(106, 5, 189), teal)}
      &--melancholic {background: linear-gradient(to right, rgb(181, 149, 199), cornflowerblue);}

    }
    &__tooltip {
      position: relative;
      display: inline-block;
      cursor: help;  

      &:hover .aie-progress__text {
        display: block;
        font-size: 0.85rem;

      }
    }
    &__text {
        display: none;
        width: 30vw;
        background-color: rgba(0, 0, 0, 0.678);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -5px;
        font-size:3em;

    }
  

  }

// slider with profile pic:

 .slide {

    &__content {
    transition: all 0.2s;
    border: 4px solid white;
    background:  no-repeat center;
    background-color: white;
    background-size: 360px auto;
    height: 70vh;
    margin-top: 10vh;
    padding: 0 15px;

    &:hover {
      box-shadow: inset 0 0 0 10px white;
      
    }

    @media(min-width: 576px) {
      max-height: 100%;

    }
    @media(min-width: 768px){
      width: 360px;
      height: 70vh;

    }
  }
  &__button {
    padding: 2px;
    border: 1px solid rgb(73, 73, 78);
    margin-top: -4px;
    background: -moz-linear-gradient(top, #979797 0%, #979797 45%, #7e7e7e 45%, #7e7e7e 100%);
    background: -webkit-linear-gradient(top, #979797 0%,#979797 45%,#7e7e7e 45%,#7e7e7e 100%);
    background: linear-gradient(to bottom, #979797 0%,#979797 45%,#7e7e7e 45%,#7e7e7e 100%);

    &:active {
      outline: none;
    }

    &:hover {
      outline: none;
      background: -moz-linear-gradient(top, #7e7e7e 0%, #7e7e7e 55%, #979797 55%, #979797 100%);
      background: -webkit-linear-gradient(top, #7e7e7e 0%,#7e7e7e 55%,#979797 55%,#979797 100%);
      background: linear-gradient(to bottom, #7e7e7e 0%,#7e7e7e 55%,#979797 55%,#979797 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#979797',GradientType=0 );

    }

    &--active {

      color: rgb(22, 18, 66);
      border: white 4px solid;
      background: -moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 45%, #d6d6d6 45%, #d6d6d6 100%);
      background: -webkit-linear-gradient(top, #f8f8f8 0%,#f8f8f8 45%,#d6d6d6 45%,#d6d6d6 100%);
      background: linear-gradient(to bottom, #f8f8f8 0%,#f8f8f8 45%,#d6d6d6 45%,#d6d6d6 100%);

      &:active, &:focus {
        outline: none;

      }

      &:hover {
        background: #d6d6d6;
        background: -moz-linear-gradient(top, #d6d6d6 0%, #d6d6d6 55%, #f8f8f8 55%, #f8f8f8 100%);
        background: -webkit-linear-gradient(top, #d6d6d6 0%,#d6d6d6 55%,#f8f8f8 55%,#f8f8f8 100%);
        background: linear-gradient(to bottom, #d6d6d6 0%,#d6d6d6 55%,#f8f8f8 55%,#f8f8f8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#f8f8f8',GradientType=0 );
      }
    }

  }

}



.appearance {
  position: relative;
  
  &__text {
    text-align: center;
    line-height: 200%;
    background-color: rgba(221, 212, 212, 0.247);
    border-radius: 3px;
    color: white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  &__design {
    height: 20vh;
    empty-cells: show;
    width: 100%;

     
    &-text {
      color: rgb(255, 255, 255);
      background-color: rgb(19, 19, 19);
      border: none;
      text-transform: uppercase;
      transition: all 0.2s;
      width: 100%;

      &:hover {
        background-color: rgb(107, 107, 107);
      }
    }
  }

  &__clothing {
    height: 20vh;
    width: 40vw;
    empty-cells: show;
    width: 100%;

    &-text {
      color: rgb(255, 255, 255);
      background-color: rgb(19, 19, 19);
      text-transform: uppercase;
      transition: all 0.2s;
      border: none;
      width: 100%;
      

      &:hover {
        background-color: rgb(107, 107, 107);
      }
    }
  }

}

.tabela-wzrostu {
  overflow: scroll;
}

.wrapper-table {
  overflow-x: auto;
}



.eye {
  background-color: rgb(175, 175, 175);
  width: 150px;
  height: 150px;
  border-radius:  80% 15%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
  margin-left: 100px;

  &__color {
    display: block;
    position: absolute;
    width: 95px;
    height: 95px;
    border: 4px white solid;
    border-radius: 50%;
    margin: 27px 0 0 27px;

  }

  &__reflex {
    border-radius: 8px;
    width: 30px;
    height: 10px;
    position: absolute;
    background-color: white;
    transform: rotate(135deg);
    margin-top: 10px;
    margin-left: 30px;
  }
}


  // personality is here:


.personality {

  &__text {
    background-color: rgba(221, 212, 212, 0.247);
    border-radius: 3px;
    color: white;
    text-align: center;    
    line-height: 200%;
    padding: 5px;
    box-sizing: border-box;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    position: relative;

    &--pure {
      filter: none;

    }

  }
  &__spoiler {
    background: linear-gradient(to bottom, rgb(133, 45, 30), rgb(119, 94, 89));
    height: 60px;
    width: calc(100% - 30px);
    border: none;
    border-bottom: 4px rgb(112, 63, 54) solid;
    border-radius: 4px;
    z-index: 5;
    position: absolute;

    &--disabled {
      display: none;

    }

    &:hover {
      background: linear-gradient(to bottom, rgb(70, 23, 15), rgb(94, 65, 59));

    }
  }
}

.parallax {
    height: 300px;
    background: url("vhs.png") center fixed no-repeat;
    background-size: cover;
}


.footer {
  background: black;
  height: 100px;
 
      &__address {
      text-align: center;
    } 
    &__author {
      color: white;
      -webkit-text-decoration: hotpink double underline;
      text-decoration: hotpink double underline;
    }
}