/* in html:
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&amp;subset=latin-ext" rel="stylesheet">
*/


@font-face {font-family: 'Playfair Display';}


.body {
    font-size: 0.9em;
}
.h3 {
    font-size: 1.5em;
    text-align: center;

}

.information__charname, .header__title {
    font-family: 'Playfair Display';
}