// <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navigation">
                                   
// <a href="http://meowmere.art/alea/" class="aie navigation__link navbar-brand">AIE</a>

// <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-list">
//      <span class="navbar-toggler-icon"></span>
//  </button>
// <div class="collapse navbar-collapse" id="navigation-list">
// <ul class="navbar-nav nav-pills navbar-nav mr-auto">     

// <li class="nav-item">
//      <a href="#data" class="nav-link">Dane osobowe</a></li>
//  <li class="nav-item navigation__link">
//      <a href="#appearance" class="nav-link">Wygląd</a></li>
//  <li class="nav-item navigation__link">
//      <a href="#personality" class="nav-link">Osobowość</a></li>


//  <li class="nav-item navigation__link">
//      <a href="#relationship" class="nav-link">Relacje</a></li>


//  <li class="nav-item navigation__link">
//      <a href="#trivia" class="nav-link">Ciekawostki</a></li>
// </ul>
// </div>
// </nav>

.navigation {
    background-color: #F0DDA7;
    padding: 0;
    width: 100%;
    align-items: stretch;
  }

    .navbar .navbar-toggler-icon {
      background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=F0DDA7')  
    }  

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgb(90, 90, 90);
  transition: all 0.3s; 
}

.aie {
  font-family: "Playfair Display";
}
