.link {

    margin-right: 10px;
    

    & a {
        text-decoration: none;

        transition: all 0.2s;
    }

    &--active {
        a {
            color: grey;

        }
            
    }

    &--inactive {
        a {
            color: black;
            text-decoration: underline;
        }

        pointer-events: none;
    }

    &:hover a {
        color: white;
    }
}