.link {

    margin-right: 10px;
    
    transition: all 0.2s;

    & a {
        text-decoration: none;
    }

    &--normal {
        a {
            color: grey;
        }
            
    }

    &--active {
        a {
            color: black;
            text-decoration: underline;
        }

        pointer-events: none;
    }

    &:hover a {
        color: white;
    }
}