/* in html:
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&amp;subset=latin-ext" rel="stylesheet">
*/


@font-face {font-family: 'Playfair Display';}

@font-face {font-family: "Roboto, sans-serif";}

.body {
    font-family: "Roboto";
    font-size: 0.9em;
}
.h3 {
    font-size: 1.5em;
    text-align: center;
}

.information__charname, .header__title {
    font-family: 'Playfair Display';
    animation: glitch 5s steps(100) infinite;
}
 