@import "../../variables.scss";

.Info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    flex: 1;
    padding: 1rem;

    background-color: white;
    color: black;

    .desc {

        &__name{
        @include font-alternative;
        font-size: 2rem;     
        }
        &__other{
            text-transform: uppercase;
        }
    }

}
