@import '../../variables.scss';

.CharsList {

    display: flex;
	min-height: calc(100vh - #{$footer-height} - #{$navbar-height});

    .list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 100%;
    
        list-style-type: none;
    
        background-image: linear-gradient(to right, #868f96 0%, #596164 100%);


        &__image {
            height: 100px;
            width: 100px;

            background-color: blue;

        }
    }

    
}