@import '../../variables.scss';

.CharsList {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - #{$navbar-height});
    width: 100%;

    list-style-type: none;

    background-color: rgba(255, 0, 0, 0.205);

    .list {
        
        &__image {
            height: 100px;
            width: 100px;

            background-color: blue;
        }
    }
}