@import '../../variables.scss';

.CharactersList {

    &.menu, .menu {

        // max-height: calc(100vh - #{$navbar-height});
        // min-width: $aside-menu-width;
        // max-width: $aside-menu-width;

        overflow-y: auto;

        padding: 10px;
        box-sizing: border-box;

        list-style-type: none;
        background-color: #D3D3D3;

        font-weight: bold;
        border-right: 1px solid black;
    
    
        &__item {
            line-height: 1.4;
            font-weight: initial;
    
            &:hover {
                color: blue;
            }
        }
    }

}

