.menu {
    list-style-type: none;
    background-color: #D3D3D3;
    float: left;
    padding: 10px;
    font-weight: bold;


    &__item {
        line-height: 1.4;
        font-weight: initial;

        &:hover {
            color: blue;
        }
    }
}