.Admin {

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    
    &, .form {

        &__error {

            color: red;
        }
    }

}