.Admin {

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    
    &, .form {

        &__error {

            color: red;
        }
    }

    .container {
        background-color: white;
        padding: 5px;

        &__title {
            font-weight: bold;
            font-size: 2rem;
        }
    }


}