@import '../../variables.scss';

.Navbar {
    display: flex;
    align-items: center;
    
    height: $navbar-height;
    width: 100%;

    padding: 0 1rem;
    box-sizing: border-box;
    
    background-color: rgb(71, 71, 71);

    font-size: 1.1rem;
    
    .nav-list {

        list-style-type: none;
        display: flex;
        justify-content: flex-start;

        width: 100%;

        &__item {
            text-transform: uppercase;


            &--right {

                margin-left: auto;
            }
            &--user {
                color: grey;
            }

        }
        
    }
    .logged {

        &--true {
            color: green;
        }
        &--false {
            color: red;
        }
    }
    
}

