@import '../../../variables.scss';

.Gallery {

    .img {
        &__container {
            @include paragraph-container;
        }
        &__title {
            @include paragraph-title;
        }
        &__content {
            @include paragraph-content;
            display: flex;
            flex-direction: column;
            align-items: center;


            & img {
                max-width: 250px;
                max-height: 500px;
            }
        }
    }


}