.Footer {
    
    height: auto;
    width: 100%;
    
    color: white;
    background-color: black;

    .footer-info {


        &__avatar {
            height: 25px;
        }

        &__list {
            list-style-type: none;
        }
    }

} 