.Footer {
    
    position: fixed;
    bottom: 0;
    left: 0;

    height: auto;
    width: 100vw;

    color: white;
    background-color: black;


    .footer-info {


        &__avatar {
            height: 25px;
        }

        &__list {
            list-style-type: none;
        }
    }

} 