@import '../../../variables.scss';

.Weight {

    .size {
        
        &__container {
        @include paragraph-container;

        }
        &__title {
            @include paragraph-title;
            width: 21%;
        }

        &__content {
            @include paragraph-content;
        }
    }

    .table {
        box-sizing: border-box;

        border: 1px black solid;
        

        &__row {
            box-sizing: border-box;
            text-align: center;


            & em {
                display: block;
            }
        }
        &__heading {
            text-transform: uppercase;
            padding: 5px;
            @include font-alternative;

        }


    }


}