@import '../../../../variables.scss';


.AppearanceColors {

    .color {
        text-transform: uppercase;

        &__list{
            @include paragraph-content;

            display: flex;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            list-style-type: none;
        }

        &__title {
            flex: 1;
            @include paragraph-title;
            text-transform: uppercase;
            width: 9rem;
        }

        &__block {
            min-width: 6rem;
            height: 36px;
            border: 1px solid rgb(0, 0, 0);
            -webkit-box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.28);
            -moz-box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.28);
            box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.28);
        }

        &__container {
            @include paragraph-container;

        }
        &__item {
            
            &--eye{
                padding: 0 2rem;
            }
        }
    }

}

.eye {
    flex: 2;

    background-color: rgb(175, 175, 175);
    width: 130px;
    height: 130px;
    border-radius:  80% 15%;
    position: relative;
    transform: rotate(45deg);
    box-sizing: border-box;
  
    &__color {
      display: block;
      position: absolute;
      width: 75px;
      height: 75px;
      border: 6px white solid;
      border-radius: 50%;
      margin: 21px;
  
    }
  
    &__reflex {
      border-radius: 8px;
      width: 30px;
      height: 10px;
      position: absolute;
      background-color: white;
      transform: rotate(135deg);
      margin-top: 90px;
      margin-left: 30px;
    }
  }