@font-face {
    font-family: "Aleo-Light";
    src: url("./assets/font/Aleo-Light.ttf");
}
@font-face {
    font-family: "Aleo-Regular";
    src: url("./assets/font/Aleo-Regular.ttf");
}
@font-face {
    font-family: "Bitter";
    src: url("./assets/font/Bitter-Regular.ttf");
}