@import 'reseter.scss';
@import 'fonts.scss';
@import 'variables.scss';

bodyx {
	display: flex;
	vertical-align: baseline;
	
	height: 100%;
	min-height: 100vh;
	

	margin: 0;
	padding: 0; 

	font-size: 100%;
	font: inherit;
	
	border: 0;
	background-image:
	radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.85) 100%),
	url('./assets/img/wooden-background.png');
}

#root {
	width: 100%;
}

:root {
	  @include font-regular;
	  
		font-size: 100%;

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) { 
			font-size: 80%;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) { 
			font-size: 80%;
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) { 
			font-size: 70%;
		}

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) { 
			font-size: 62.5%;
			font-size: 70.5%;
		}

}

::selection {
  background: black;
  color: white;
}