// Variables:
$navbar-height: 2rem;
$aside-menu-width: 20rem;
$footer-height: 5.3rem;

// Font mixins: 
@mixin font-light {
    font-family: "Aleo-Light";
}

@mixin font-regular {
    font-family: "Aleo-Regular";
}

@mixin font-alternative {
    font-family: "Bitter";
}

// Other mixins: 

@mixin paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 700px;

    margin-top: 20px;

    border: 2px solid black;
    background: white;
}


@mixin paragraph-title {
    width: 5rem;

    margin-top: -0.8rem;
    margin-left: 3px;
    padding-left: 3px;

    @include font-alternative;
    text-transform: uppercase;

    background-color: white;
}

@mixin paragraph-content {
    padding: 0.8rem;
}


