$navbar-height: 2rem;

$aside-menu-width: 20rem;

@mixin paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    max-width: 700px;

    margin-top: 20px;

    border: 2px solid black;
    background: white;
}

@mixin paragraph-title {
    width: 5rem;

    margin-top: -0.8rem;
    margin-right: -0.2rem;

    font-family: "Bitter";
    text-transform: uppercase;

    background-color: white;
}

@mixin paragraph-content {
    padding: 0.8rem;
}