<?php
     define("DB_SERVERNAME", "");
     define("DB_USERNAME", "");
     define("DB_PASSWORD", "");
     define("DB_DATABASE", "");

     define("DB_PASS_SALT", "md5-salt-here");
     define("JWT_KEY", "jwt-key-here");
?>